@font-face {
  font-family: 'KyivRegion';
  src: url('../fonts/KyivRegion/KyivRegion-Regular.ttf');
  src: local('../fonts/KyivRegion/KyivRegion'), local('KyivRegion-Regular'),
    url('../fonts/KyivRegion/KyivRegion-Regular.woff2') format('woff2'),
    url('../fonts/KyivRegion/KyivRegion-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'A DAY WITHOUT SUN';
  src: url("../fonts/aDayWithoutSun/A_DAY_WITHOUT_SUN.otf");
  font-weight: normal;
  font-style: normal;
}