html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}

@font-face {
  font-family: 'KyivRegion';
  src: url('../fonts/KyivRegion/KyivRegion-Regular.ttf');
  src: local('../fonts/KyivRegion/KyivRegion'), local('KyivRegion-Regular'),
    url('../fonts/KyivRegion/KyivRegion-Regular.woff2') format('woff2'),
    url('../fonts/KyivRegion/KyivRegion-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
};

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4 {
  font-family: 'KyivRegion', serif;
}

.body {
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  background-color: #EEF1EF;
  font-size: 38px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 1px;
  font-family: 'A DAY WITHOUT SUN', sans-serif;
  overflow-x: hidden;
}

.button {
  background-color: #404648;
  border: solid 1px transparent;
  color: #D8A795;
  width: 200px;
  height: 50px;
  text-transform: uppercase;
  font-size: 16px;
  font-family: 'KyivRegion', serif;
  transition: all .3s linear;
}

.button:hover {
  border: solid 1px #404648;
  color: #404648;
  border-left: transparent;
  border-right: transparent;
  background-color: transparent;
  cursor: pointer;
}

.title {
  margin-bottom: 20px;
  font-size: 45px;
  line-height: 1;
  color: #404648;
  font-family: 'KyivRegion', serif;
  text-transform: uppercase;
}

.ornament {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../img/background/ornament.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 132px;
}

.color-text {
  color: #D8A795;
}


@media all and (max-width: 1024px) {
  .body {
    font-size: 30px;
    line-height: 35px;
  }
}

@media all and (max-width: 550px) {
  .title {
    font-size: 35px;
    line-height: 40px;
  }
}

@media all and (max-width: 425px) {
  .body {
    font-size: 22px;
    line-height: 1;
    letter-spacing: 1px;
  }

  .title {
    font-size: 20px;
    line-height: 25px;
  }
}

.header {
  box-sizing: border-box;
  width: 100%;
  height: 100px;
  background-color: #D8A795;
}

.header__content {
  position: relative;
  box-sizing: border-box;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 10px 80px 10px 180px;
  max-width: 1440px;
  width: 100%;
}

.header__ornament {
  height: 100px;
}

.header__logo {
  flex-grow: 2;
}

.header__logo img {
  display: inline-block;
  vertical-align: middle;
  width: 160px;
  height: 80px;
}

.header__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header__list-item {
  display: inline-block;
  text-transform: uppercase;
}

.header__list-link {
  padding: 10px 30px;
  text-decoration: none;
  color: #404648;
  position: relative;
  overflow: hidden;
  font-family: 'KyivRegion', serif;
  font-size: 18px;
}

.header__list-link::after,
.header__list-link::before {
  content: '';
  width: 70%;
  background-color: transparent;
  position: absolute;
  transition: all .3s linear;
}

.header__list-link::after {
  height: 1px;
  left: 40px;
  bottom: 5px;
}

.header__list-link::before {
  height: 1px;
  right: 40px;
  top: 0;
}

.header__list-link:hover::after,
.header__list-link:hover::before {
  background-color: #404648;
}

.last-link {
  padding-right: 0;
}

.visuallyHidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.container {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.hamburger {
  margin: 0 auto;
  width: 30px;
  height: 30px;
  position: relative;
}

.hamburger .bar {
  padding: 0;
  width: 30px;
  height: 2px;
  border-radius: 2px;
  background-color: #404648;
  display: block;
  transition: all 0.4s ease-in-out;
  position: absolute;
}

.bar1 {
  top: 0;
}

.bar2,
.bar3 {
  top: 13.5px;
}

.bar3 {
  right: 0;
}

.bar4 {
  bottom: 0;
}

.checkbox:checked+label>.hamburger>.bar1 {
  transform: translateX(40px);
  background-color: transparent;
}

.checkbox:checked+label>.hamburger>.bar2 {
  transform: rotate(45deg);
}

.checkbox:checked+label>.hamburger>.bar3 {
  transform: rotate(-45deg);
}

.checkbox:checked+label>.hamburger>.bar4 {
  transform: translateX(-40px);
  background-color: transparent;
}

.checkbox+label {
  display: none;
}

@media all and (max-width: 1120px) {
  .header__list-link {
    padding: 10px;
  }
}

@media all and (max-width: 1024px) {
  .header__content {
    padding: 10px 40px 10px 140px;
  }

  .header__list-link {
    padding: 10px;
  }
}

@media all and (max-width: 910px) {
  .checkbox+label {
    display: block;
  }

  .header__nav {
    background-color: #D8A795;
    width: 100%;
    height: 0;
    position: absolute;
    left: 0;
    top: -800px;
    transition: all linear .3s;
    z-index: 10;
  }

  .header__list {
    display: flex;
    flex-direction: column;
  }

  .header__list-item {
    align-self: center;
    padding: 10px 0;
  }

  .open {
    animation-name: moving;
    animation-duration: .3s;
    top: 99px;
    height: 100vh;
  }

  @keyframes moving {
    0% {
      top: -800px;
    }

    50% {
      top: -450px;
    }

    100% {
      top: 106px;
    }
  }
}

@media all and (max-width: 768px) {
  .header {
    height: 77px;
  }

  .header__ornament {
    width: 100px;
    height: 76px;
  }

  .header__content {
    padding: 4px 20px 4px 120px;
  }

  .header__logo img {
    width: 120px;
    height: 68px;
  }

  .open {
    animation-name: moving;
    animation-duration: .3s;
    top: 76px;
  }

  @keyframes moving {
    0% {
      top: -800px;
    }

    50% {
      top: -450px;
    }

    100% {
      top: 76px;
    }
  }
}

@media all and (max-width: 425px) {
  .header {
    height: 58px;
  }

  .header__content {
    padding: 4px 10px 0 80px;
  }

  .header__ornament {
    width: 75px;
    height: 58px;
  }

  .header__logo img {
    width: 105px;
    height: 50px;
  }

  .open {
    top: 56px;
  }
}

.intro {
  box-sizing: border-box;
  width: 100%;
  height: 766px;
  background-color: #D8A795;
  margin-top: -2px;
}

.intro__ornament {
  height: 766px;
}

.intro__content {
  position: relative;
  box-sizing: border-box;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 80px 80px 0 180px;
  max-width: 1440px;
  width: 100%;
}

.intro__main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.intro__info {
  width: 50%;
  padding-right: 10px;
}

.intro__img {
  background-image: url("../img/background/img1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 50%;
  height: 580px;
}

.intro__title {
  margin-bottom: 30px;
  font-size: 45px;
  line-height: 50px;
}

.intro__btn {
  margin-top: 30px;
}

@media all and (max-width: 1024px) {
  .intro__content {
    padding: 100px 40px 100px 140px;
  }
}

@media all and (max-width: 910px) {
  .intro {
    height: 673px;
  }

  .intro__ornament {
    height: 673px;
  }

  .intro__content {
    padding: 70px 40px 70px 140px;
  }

  .intro__img {
    height: 450px;
    width: 45%;
  }
}

@media all and (max-width: 830px) {
  .intro__title {
    font-size: 40px;
    line-height: 45px;
  }
}

@media all and (max-width: 768px) {
  .intro__ornament {
    width: 100px;
  }

  .intro__content {
    padding: 50px 20px 0 120px;
  }
}

@media all and (max-width: 726px) {
  .intro {
    height: 794px;
  }

  .intro__content {
    padding: 50px 20px 0 120px;
  }

  .intro__ornament {
    height: 794px;
    background-repeat: repeat;
  }

  .intro__main {
    flex-direction: column;
  }

  .intro__info {
    width: 100%;
  }

  .intro__title {
    margin-bottom: 16px;
    font-size: 40px;
    line-height: 45px;
  }

  .intro__btn {
    margin-top: 0;
  }

  .intro__img {
    margin-top: 30px;
    height: 310px;
    width: 100%;
    background-position: bottom;
  }
}

@media all and (max-width: 562px) {
  .intro__img {
    height: 220px;
  }
}

@media (max-width: 452px) {
  .intro__content {
  padding: 20px 20px 0 120px;
  }

}

@media all and (max-width: 425px) {
  .intro {
    height: 606px;
  }

  .intro__content {
    padding: 20px 10px 0 90px;
  }

  .intro__ornament {
    width: 75px;
    height: 606px;
  }

  .intro__title {
    font-size: 25px;
    line-height: 30px;
  }

  .intro__img {
    height: 180px;
  }
}

.about {
  box-sizing: border-box;
  width: 100%;
  height: 766px;
  background-color: #EEF1EF;
}

.about__ornament {
  height: 766px;
}

.about__content {
  position: relative;
  box-sizing: border-box;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 150px 80px 0 180px;
  max-width: 1440px;
  width: 100%;
}

.about__block {
  position: relative;
  background-color: #404648;
  width: 100%;
  padding: 100px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about__title {
  color: #D8A795;
}

.about__text {
  color: #EEF1EF;
  padding-right: 50px;
}

.about__text:last-of-type {
  width: fit-content;
  margin-bottom: 0;
  margin-left: auto;
}


@media all and (max-width: 1024px) {
  .about__content {
    padding: 180px 40px 0 140px;
  }
}


@media all and (max-width: 845px) {
  .about__block {
    padding: 100px 20px;
  }


  .about__text {
    padding: 0;
  }
}

@media all and (max-width: 768px) {
  .about {
    height: 655px;
  }

  .about__ornament {
    width: 100px;
    height: 655px;
  }

  .about__content {
    padding: 115px 20px 0 120px;
  }

  .about__block {
    padding: 60px 20px;
  }
}

@media (max-width: 649px) {
  .about__content {
  padding: 90px 20px 0 120px;
  }
}

@media all and (max-width: 590px) {
  .about__content {
    padding: 115px 20px 0 120px;
  }

}

@media all and (max-width: 529px) {
  .about__content {
    padding: 75px 20px 0 120px;
  }
}

@media all and (max-width: 475px) {
  .about__content {
    padding: 55px 20px 0 120px;
  }
}

@media all and (max-width: 435px) {
  .about__content {
    padding: 25px 20px 0 120px;
  }
}

@media all and (max-width: 425px) {
  .about {
    height: 379px;
  }

  .about__content {
    padding: 55px 10px 0 90px;
  }

  .about__block {
    padding: 30px 20px;
  }

  .about__ornament {
    width: 75px;
    height: 379px;
  }

  .about__title {
    margin-top: 0;
  }

  .about__text {
    font-size: 18px;
  }

}

@media all and (max-width: 405px) {
  .about__title {
    font-size: 25px;
    line-height: 30px;
  }

}

@media (max-width: 335px) { 
  .about__content {
  padding: 30px 10px 0 90px;
  }
}

@media all and (max-width: 329px) {
  .about__content {
    padding: 40px 10px 0 90px;
  }
}

.why {
  box-sizing: border-box;
  width: 100%;
  height: 767px;
  background-color: #EEF1EF;
}

.why__ornament {
  height: 767px;
}

.why__content {
  position: relative;
  box-sizing: border-box;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 50px 80px 0 180px;
  max-width: 1440px;
  width: 100%;
}

.why__block {
  text-align: center;
}

.why__grid {
  display: grid;
  margin: 50px auto;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.why__grid-item {
  background-color: #D8A795;
  padding: 20px;
}

.why__grid-icon {
  margin: 0 auto 20px;
  background-repeat: no-repeat;
  width: 60px;
  height: 70px;
}

.why__icon1 {
  background-image: url("../img/icons/why/icon1.png");
}

.why__icon2 {
  background-image: url("../img/icons/why/icon2.png");
}

.why__icon3 {
  background-image: url("../img/icons/why/icon3.png");
}

.why__icon4 {
  background-image: url("../img/icons/why/icon4.png");
}

@media all and (max-width: 1024px) {
  .why__content {
    padding: 50px 40px 0 140px;
  }
}

@media all and (max-width: 850px) {
  .why__grid {
    gap: 10px;
  }
}

@media all and (max-width: 768px) {
  .why {
    height: 722px;
  }

  .why__ornament {
    width: 100px;
    height: 722px;
  }

  .why__content {
    padding: 15px 20px 0 120px;
  }
}

@media all and (max-width: 645px) {
  .why__content {
    padding: 0 20px 0 120px;
  }

  .why__grid-item {
    padding: 10px;
  }

  .why__grid-text {
    margin: 0;
  }
}

@media (max-width: 595px) {
  .why__content {
  padding: 40px 20px 0 120px;
  }
}

@media all and (max-width: 580px) {
  .why__content {
    padding: 50px 20px 0 120px;
  }

  .why__grid {
    display: block;
    margin: 0;
  }

  .why__grid-icon {
    margin: 0;
    margin-right: 5px;
  }

  .why__grid-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  .why__grid-text {
    width: 70%;
  }
}

@media all and (max-width: 425px) {
  .why {
    height: 547px;
  }

  .why__content {
    padding: 40px 10px 0 90px;
  }

  .why__ornament {
    width: 75px;
    height: 547px;
  }
}

@media all and (max-width: 350px) {
  .why {
    height: 606px;
  }

  

  .why__ornament {
    width: 75px;
    height: 606px;
  }
}

.books {
  box-sizing: border-box;
  background-color: #EEF1EF;
  width: 100%;
  height: 860px;
}

.books__ornament {
  height: 860px;
}

.books__content {
  text-align: center;
  position: relative;
  box-sizing: border-box;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 60px 80px 0 180px;
  max-width: 1440px;
  width: 100%;
}

.books__link {
  color: #EEF1EF;
  text-decoration: none;
}

.books__link:hover {
  color: #D8A795;
}

.carousel {
  margin-top: 70px;
}

.carousel-inner {
  width: 80%;
  left: 50%;
  transform: translateX(-50%);
}

.carousel-control-next-icon {
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='%23404648'%3E%3Cpath d='M7.293 4.707 14.586 12l-7.293 7.293 1.414 1.414L17.414 12 8.707 3.293 7.293 4.707z'/%3E%3C/svg%3E");
}

.carousel-control-prev-icon {
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='%23404648'%3E%3Cpath d='M7.293 4.707 14.586 12l-7.293 7.293 1.414 1.414L17.414 12 8.707 3.293 7.293 4.707z'/%3E%3C/svg%3E");
  transform: rotate(180deg);
}

.carousel-caption {
  background-color: rgba(64, 70, 72, 0.7);
  top: 1.25rem;
  height: 80px;
}

.carousel-caption h5 {
  font-size: 38px;
}

@media all and (max-width: 1200px) {
  .carousel-inner {
    width: 100%;
  }
}

@media all and (max-width: 1037px) {
  .books__content {
    padding: 115px 80px 0 180px;
  }
}

@media all and (max-width: 1024px) {
  .books__content {
    padding: 30px 40px 0 140px;
  }
}

@media all and (max-width: 950px) {
  .books {
    height: 768px;
  }

  .books__ornament {
    height: 768px;
  }
}

@media all and (max-width: 790px) {
  .books__content {
    padding: 65px 40px 0 140px;
  }
}

@media all and (max-width: 768px) {
  .books {
    height: 722px;
  }

  .books__ornament {
    width: 100px;
    height: 722px;
  }

  .books__content {
    padding: 45px 20px 0 120px;
  }
}

@media all and (max-width: 630px) {
  .books__ornament {
    width: 100px;
  }

  .books__content {
    padding: 45px 20px 0 120px;
  }
}

@media all and (max-width: 580px) {
  .books__ornament {
    width: 100px;
  }

  .books__content {
    padding: 45px 20px 0 120px;
  }

  .carousel-caption h5 {
    font-size: 28px;
  }

    .carousel-caption {
      padding-top: 0.28rem;
      top: 1.25rem;
      height: 46px;
    }
}

@media all and (max-width: 455px) {
  .books__content {
    padding: 90px 20px 0 120px;
  }

  .carousel-indicators {
    margin-bottom: 0;
  }

  .carousel-caption {
    padding-top: 0.3rem;
    top: 0.28rem;
    height: 28px;
  }

  .carousel-caption h5 {
    font-size: 14px;
  }
}

@media all and (max-width: 449px) {
  .books__content {
    padding: 90px 20px 0 120px;
  }
}

@media all and (max-width: 425px) {
  .books {
    height: 547px;
  }

  .books__content {
    padding: 15px 10px 0 90px;
  }

  .books__ornament {
    width: 75px;
    height: 547px;
  }
}

@media all and (max-width: 380px) {
  .books__title {
    margin: 0;
  }

  .carousel {
    margin-top: 30px;
  }
}

@media all and (max-width: 333px) {
  .books__content {
    padding: 60px 10px 0 90px;
  }
}

.how {
  box-sizing: border-box;
  width: 100%;
  height: 769px;
  background-color: #EEF1EF;
}

.how__ornament {
  height: 769px;
}

.how__content {
  color: #EEF1EF;
  position: relative;
  box-sizing: border-box;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 195px 80px 0 180px;
  max-width: 1440px;
  width: 100%;
}

.how__block {
  text-align: center;
  width: 100%;
}

.how__grid {
  width: 100%;
  display: grid;
  margin: 50px auto;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}

.how__grid-frame {
  border: solid 1px #D8A795;
  padding: 5px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.how__grid-frame p {
  padding: 10px;
  margin: 0;
}

.how__grid-item {
  text-align: left;
  background-color: #404648;
  padding: 20px;
}

.romNumber {
  font-family: 'KyivRegion';
}

@media all and (max-width: 1430px) {
  .how__grid {
    width: 100%;
    display: grid;
    margin: 50px auto;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
}

@media all and (max-width: 1310px) {
  .how {
    height: 673px;
  }

  .how__ornament {
    height: 673px;
  }

  .how__content {
    padding: 90px 80px 0 180px;
  }
}

@media all and (max-width: 1024px) {
  .how {
    height: 577px;
  }

  .how__ornament {
    height: 577px;
  }

  .how__content {
    padding: 0 40px 0 140px;
  }
}

@media all and (max-width: 768px) {
  .how {
    height: 722px;
  }

  .how__ornament {
    width: 100px;
    height: 722px;
  }

  .how__content {
    padding: 0 20px 0 120px;
  }
}

@media all and (max-width: 635px) {
  .how__block {
    margin-top: -80px;
  }

  .how__grid {
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }

  .how__grid-item {
    text-align: center;
  }
}

@media all and (max-width: 520px) {
  .how__block {
    margin-top: -100px;
  }
}

@media all and (max-width: 480px) {
  .how__block {
    margin-top: -140px;
  }
}

@media all and (max-width: 425px) {
  .how {
    height: 547px;
  }

  .how__content {
    padding: 0 10px 0 90px;
  }

  .how__ornament {
    width: 75px;
    height: 547px;
  }

  .how__block {
    margin-top: -110px;
  }
}

@media all and (max-width: 397px) {
  .how__block {
    margin-top: -130px;
  }
}

@media all and (max-width: 380px) {
  .how {
    height: 492px;
  }

  .how__ornament {
    height: 492px;
  }

  .how__block {
    margin-top: -160px;
  }

  .how__title {
    margin: 0;
  }

  .how__grid-item {
    padding: 10px;
  }
}

.questions {
  box-sizing: border-box;
  width: 100%;
  height: 865px;
  background-color: #D8A795;
}

.questions__ornament {
  height: 865px;
}

.questions__content {
  position: relative;
  box-sizing: border-box;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 100px 80px 0 180px;
  max-width: 1440px;
  width: 100%;
}

.questions__info {
  width: 100%;
}

.questions__block {
  margin-top: 50px;
}

.questions__list-item {
  background-color: #D8A795;
  border: none;
  margin: 10px 0;
  border-radius: 0;
}

.questions__btn {
  font-size: 20px;
  font-weight: 600;
  background-color: #D8A795;
  color: #404648;
  border: none;
  outline: none;
  box-shadow: none;
  border-radius: 0;
}

.questions__btn:hover {
  cursor: pointer;
  background-color: rgba(238, 241, 239, 0.5);
  outline: none;
}

.accordion-button:not(.collapsed) {
  color: #404648;
  outline: none;
  background-color: rgba(238, 241, 239, 0.5);
  border: none;
  box-shadow: none;
}

.accordion-button:focus {
  border: none;
  box-shadow: none;
}

.accordion .accordion-item .accordion-button {
  border-radius: 0px;
}

@media all and (max-width: 1024px) {
  .questions__content {
    padding: 100px 40px 0 140px;
  }
}

@media all and (max-width: 930px) {
  .questions__content {
    padding: 50px 40px 0 140px;
  }
}

@media all and (max-width: 768px) {
  .questions {
    height: 802px;
  }

  .questions__ornament {
    width: 100px;
    height: 802px;
  }

  .questions__content {
    padding: 50px 20px 0 120px;
  }
}

@media all and (max-width: 531px) {
  .accordion-body {
    font-size: 24px;
    line-height: 1;
  }

  .questions__list-item {
    margin: 0;
  }

  .questions____btn {
    font-size: 18px;
  }
}

@media all and (max-width: 425px) {
  .questions {
    height: 597px;
  }

  .questions__content {
    padding: 20px 10px 0 90px;
  }

  .questions__ornament {
    width: 75px;
    height: 597px;
  }

  .questions__title {
    margin: 10px 0;
  }

  .questions__btn {
    font-size: 14px;
  }
}

.background {
  display: none;
}

.colored {
  background-color: #D8A795;
}

@media all and (max-width: 677px) {
  .background {
    margin-top: -1px;
    display: block;
    width: 100%;
    height: 150px;
  }

  .background__content {
    height: 150px;
    position: relative;
  }

  .background__ornament {
    width: 100px;
    height: 150px;
  }
}

@media all and (max-width: 425px) {
  .background {
    display: block;
    width: 100%;
    height: 221px;
  }

  .background__content {
    height: 221px;
    position: relative;
  }

  .background__ornament {
    width: 75px;
    height: 221px;
  }
}

.contacts {
  box-sizing: border-box;
  width: 100%;
  height: 1050px;
  background-color: #EEF1EF;
}

.contacts__ornament {
  height: 1050px;
}

.contacts__content {
  color: #EEF1EF;
  position: relative;
  box-sizing: border-box;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 130px 80px 0 180px;
  max-width: 1440px;
  width: 100%;
}

.contacts__block {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.contacts__info {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacts__form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.contacts__input {
  margin: 20px 0;
  height: 45px;
  padding-left: 10px;
  background-color: transparent;
  border: none;
  border-bottom: solid 2px #D8A795;
  outline: none;
  color: #404648;
}

.contacts__input::placeholder {
  font-family: 'A DAY WITHOUT SUN', serif;
}

.contacts__input:last-of-type {
  border: solid 2px #D8A795;
  height: 100px;
}

.contacts__btn {
  margin-top: 10px;
  width: 100%;
  height: 40px;
}

.contacts__img {
  right: 0;
  width: 45%;
  height: 720px;
  background-image: url("../img/background/img2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

input[type='checkbox'] {
  margin-right: 10px;
  width: 20px;
  height: 20px;
}

label {
  display: flex;
  align-items: center;
  color: #404648;
}

.background-contacts {
  display: none;
}

@media all and (max-width: 768px) {
  .background-contacts {
    margin-top: -1px;
    display: block;
    width: 100%;
    height: 220px;
  }

  .background-contacts__content {
    height: 220px;
    position: relative;
  }

  .background-contacts__ornament {
    width: 100px;
    height: 220px;
  }
}

@media all and (max-width: 425px) {
  .background-contacts {
    display: block;
    width: 100%;
    height: 277px;
  }

  .background-contacts__content {
    height: 277px;
    position: relative;
  }

  .background-contacts__ornament {
    width: 75px;
    height: 277px;
  }
}

@media all and (max-width: 1024px) {
  .contacts__content {
    padding: 120px 40px 0 140px;
  }
}

@media all and (max-width: 940px) {
  .contacts__content {
    padding: 80px 40px 0 140px;
  }

  .contacts__block {
    flex-direction: column;
  }

  .contacts__info {
    width: 100%;
  }

  .contacts__btn {
    margin: 0;
  }

  .contacts__img {
    margin-top: 20px;
    width: 100%;
    height: 250px;
    background-position: bottom;
  }
}

@media all and (max-width: 768px) {
  .contacts {
    height: 802px;
  }

  .contacts__title {
    margin: 0;
  }

  .contacts__ornament {
    width: 100px;
    height: 802px;
  }

  .contacts__content {
    padding: 90px 20px 0 120px;
  }

  .contacts__input:last-of-type {
    height: 65px;
  }

  .contacts__img {
    height: 222px;
    width: 100%;
  }
}

@media all and (max-width: 677px) {
  .contacts__img {
    height: 250px;
  }

  .contacts__content {
    padding: 50px 20px 0 120px;
  }
}

@media all and (max-width: 425px) {
  .contacts {
    height: 603px;
  }

  .contacts__content {
    padding: 50px 10px 0 90px;
  }

  .contacts__ornament {
    width: 75px;
    height: 603px;
  }
}

.arrowUp {
  position: fixed;
  z-index: 10;
  right: 50px;
  bottom: 75px;
  width: 80px;
  height: 80px;
  background-color: #404648;
  overflow: hidden;
  opacity: 0;
}

.arrowUp__element {
  position: relative;
  width: 22px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.arrowUp__element::before {
  content: '';
  background-color: #D8A795;
  display: inline-block;
  width: 3px;
  height: 30px;
  transform: rotate(40deg);
}

.arrowUp__element::after {
  content: '';
  background-color: #D8A795;
  display: inline-block;
  position: relative;
  left: 15px;
  width: 3px;
  height: 30px;
  transform: rotate(-40deg);
}

.arrowUp:hover {
  cursor: pointer;
}

.arrowUp:hover .arrowUp__element {
  animation: jumpInfinite 1s infinite;
}

@keyframes jumpInfinite {
  0% {
    top: 50%;
  }

  50% {
    top: 40%;
  }

  100% {
    top: 55%;
  }
}

@keyframes animShowArrow {
  50% {
    opacity: 0;
    width: 0;
  }

  100% {
    opacity: 0.9;
    width: 80px;
    right: 30px;
  }
}

.showArrow {
  animation: animShowArrow 0.7s linear forwards;
}

@media all and (max-width: 570px) {
  @keyframes animShowArrow {
    50% {
      opacity: 0;
      width: 0;
    }

    100% {
      opacity: 0.9;
      width: 50px;
      height: 50px;
      right: 20px;
      bottom: 60px;
    }
  }
}

.dark-background {
  background-color: #404648;
  opacity: .9;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 5;
  display: none;
}

.alert {
  overflow: hidden;
  display: none;
  height: fit-content;
  position: fixed;
  width: 70%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 12;
  color: #D8A795;
}

.alert__wrapper {
  margin: 20px;
  position: relative;
}

.alert__title ,
.error__title {
  max-width: 100%;
  margin: 60px auto 20px;
  font-size: 30px;
  line-height: 35px;
  padding: 0 10px;
  text-align: center;
  text-transform: uppercase;
  color: #D8A795;
}


.showAlert {
  display: block;
}


@media all and (max-width: 900px) {
  .alert__title,
  .error__title {
    margin: 30px auto 20px;
  }
}

@media all and (max-width: 768px) {
  .alert {
    width: 90%;
  }
}

@media all and (max-width: 425px) {
  .alert__title,
    .error__title {
      
      font-size: 20px;
      line-height: 25px;
    }
}

.alert__title_hide,
.error__title_hide {
  display: none;
}

.spinner__hide {
  display: none;
}

.showDarkBackground {
  display: block;
}


.footer {
  box-sizing: border-box;
  width: 100%;
  height: 100px;
  background-color: #D8A795;
}

.footer__content {
  position: relative;
  box-sizing: border-box;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 0 80px 0 180px;
  height: 100%;
  max-width: 1440px;
  width: 100%;
}

.footer__ornament {
  height: 100px;
}

.footer__block {
  max-width: 1440px;
  width: 100%;
  display: flex;
  flex: 1 1 auto;
  align-items: center;
}

.footer__logo {
  flex-grow: 2;
}

.footer__logo img {
  width: 180px;
  height: 90px;
}

.footer__social-icon svg {
  width: 60px;
}

.footer__social-icon a {
  display: inline-block;
  width: 60px;
  height: 60px;
}

.footer__social-icon:last-of-type {
  margin-left: 30px;
}

.footer__social-icon svg {
  fill: #404648;
  transition: all linear .3s;
}

.footer__social-icon svg:hover {
  fill: #EEF1EF;
}

@media all and (max-width: 1024px) {
  .footer__content {
    padding: 0 40px 0 140px;
  }
}

@media all and (max-width: 768px) {
  .footer {
    height: 77px;
  }

  .footer__ornament {
    width: 100px;
    height: 77px;
  }

  .footer__content {
    padding: 0 20px 0 120px;
  }

  .footer__logo img {
    width: 130px;
    height: 67px;
  }

  .footer__social-icon svg {
    width: 40px;
  }

  .footer__social-icon a {
    width: 40px;
    height: 40px;
  }

  .footer__social-icon:last-of-type {
    margin-left: 20px;
  }
}

@media all and (max-width: 425px) {
  .footer {
    height: 57px;
  }

  .footer__content {
    padding: 0 10px 0 90px;
  }

  .footer__ornament {
    width: 75px;
    height: 57px;
  }

  .footer__logo img {
    width: 95px;
    height: 47px;
  }

  .footer__social-icon:last-of-type {
    margin-left: 10px;
  }
}