html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}

@font-face {
  font-family: 'KyivRegion';
  src: url('../fonts/KyivRegion/KyivRegion-Regular.ttf');
  src: local('../fonts/KyivRegion/KyivRegion'), local('KyivRegion-Regular'),
    url('../fonts/KyivRegion/KyivRegion-Regular.woff2') format('woff2'),
    url('../fonts/KyivRegion/KyivRegion-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'A DAY WITHOUT SUN';
  src: url("../fonts/aDayWithoutSun/A_DAY_WITHOUT_SUN.otf") format("opentype");
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4 {
  font-family: 'KyivRegion', serif;
}

.body {
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  background-color: #EEF1EF;
  font-size: 38px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 1px;
  font-family: 'A DAY WITHOUT SUN', sans-serif;
  overflow-x: hidden;
}

.button {
  background-color: #404648;
  border: solid 1px transparent;
  color: #D8A795;
  width: 200px;
  height: 50px;
  text-transform: uppercase;
  font-size: 16px;
  font-family: 'KyivRegion', serif;
  transition: all .3s linear;
}

.button:hover {
  border: solid 1px #404648;
  color: #404648;
  border-left: transparent;
  border-right: transparent;
  background-color: transparent;
  cursor: pointer;
}

.title {
  margin-bottom: 20px;
  font-size: 45px;
  line-height: 1;
  color: #404648;
  font-family: 'KyivRegion', serif;
  text-transform: uppercase;
}

.ornament {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../img/background/ornament.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 132px;
}

.color-text {
  color: #D8A795;
}

@media all and (max-width: 1024px) {
  .body {
    font-size: 30px;
    line-height: 35px;
  }
}

@media all and (max-width: 550px) {
  .title {
    font-size: 35px;
    line-height: 40px;
  }
}

@media all and (max-width: 425px) {
  .body {
    font-size: 22px;
    line-height: 1;
    letter-spacing: 1px;
  }

  .title {
    font-size: 20px;
    line-height: 25px;
  }
}

.header {
  box-sizing: border-box;
  width: 100%;
  height: 100px;
  background-color: #D8A795;
}

.header__content {
  position: relative;
  box-sizing: border-box;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 10px 80px 10px 180px;
  max-width: 1440px;
  width: 100%;
}

.header__ornament {
  height: 100px;
}

.header__logo {
  flex-grow: 2;
}

.header__logo img {
  display: inline-block;
  vertical-align: middle;
  width: 160px;
  height: 80px;
}

.header__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header__list-item {
  display: inline-block;
  text-transform: uppercase;
}

.header__list-link {
  padding: 10px 30px;
  text-decoration: none;
  color: #404648;
  position: relative;
  overflow: hidden;
  font-family: 'KyivRegion', serif;
  font-size: 18px;
}

.header__list-link::after,
.header__list-link::before {
  content: '';
  width: 70%;
  background-color: transparent;
  position: absolute;
  transition: all .3s linear;
}

.header__list-link::after {
  height: 1px;
  left: 40px;
  bottom: 5px;
}

.header__list-link::before {
  height: 1px;
  right: 40px;
  top: 0;
}

.header__list-link:hover::after,
.header__list-link:hover::before {
  background-color: #404648;
}

.last-link {
  padding-right: 0;
}

.visuallyHidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.container {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.hamburger {
  margin: 0 auto;
  width: 30px;
  height: 30px;
  position: relative;
}

.hamburger .bar {
  padding: 0;
  width: 30px;
  height: 2px;
  border-radius: 2px;
  background-color: #404648;
  display: block;
  transition: all 0.4s ease-in-out;
  position: absolute;
}

.bar1 {
  top: 0;
}

.bar2,
.bar3 {
  top: 13.5px;
}

.bar3 {
  right: 0;
}

.bar4 {
  bottom: 0;
}

.checkbox:checked+label>.hamburger>.bar1 {
  transform: translateX(40px);
  background-color: transparent;
}

.checkbox:checked+label>.hamburger>.bar2 {
  transform: rotate(45deg);
}

.checkbox:checked+label>.hamburger>.bar3 {
  transform: rotate(-45deg);
}

.checkbox:checked+label>.hamburger>.bar4 {
  transform: translateX(-40px);
  background-color: transparent;
}

.checkbox+label {
  display: none;
}

@media all and (max-width: 1120px) {
  .header__list-link {
    padding: 10px;
  }
}

@media all and (max-width: 1024px) {
  .header__content {
    padding: 10px 40px 10px 140px;
  }

  .header__list-link {
    padding: 10px;
  }
}

@media all and (max-width: 910px) {
  .checkbox+label {
    display: block;
  }

  .header__nav {
    background-color: #D8A795;
    width: 100%;
    height: 0;
    position: absolute;
    left: 0;
    top: -800px;
    transition: all linear .3s;
    z-index: 10;
  }

  .header__list {
    display: flex;
    flex-direction: column;
  }

  .header__list-item {
    align-self: center;
    padding: 10px 0;
  }

  .open {
    animation-name: moving;
    animation-duration: .3s;
    top: 96px;
    height: 100vh;
  }

  @keyframes moving {
    0% {
      top: -800px;
    }

    50% {
      top: -450px;
    }

    100% {
      top: 106px;
    }
  }
}

@media all and (max-width: 768px) {
  .header {
    height: 77px;
  }

  .header__ornament {
    width: 100px;
    height: 76px;
  }

  .header__content {
    padding: 4px 20px 4px 120px;
  }

  .header__logo img {
    width: 120px;
    height: 68px;
  }

  .open {
    animation-name: moving;
    animation-duration: .3s;
    top: 74px;
  }

  @keyframes moving {
    0% {
      top: -800px;
    }

    50% {
      top: -450px;
    }

    100% {
      top: 76px;
    }
  }
}

@media all and (max-width: 425px) {
  .header {
    height: 58px;
  }

  .header__content {
    padding: 4px 10px 0 80px;
  }

  .header__ornament {
    width: 75px;
    height: 58px;
  }

  .header__logo img {
    width: 105px;
    height: 50px;
  }

  .open {
    top: 54px;
  }
}

/* ============================================ */

.slider {
  box-sizing: border-box;
  width: 100%;
  height: 1047px;
  background-color: #EEF1EF;
  margin-top: -2px;
}

.slider__ornament {
  height: 1047px;
}

.slider__content {
  position: relative;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 80px 80px 0 180px;
  max-width: 1440px;
  width: 100%;
}

.slider__slider {
  width: 100%;
  padding-left: 10px;
}

.slider__title {
  text-align: center;
  color: #404648;
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 55px;
  line-height: 60px;
}

.intro {
  box-sizing: border-box;
  width: 100%;
  height: 766px;
  background-color: #EEF1EF;
  margin-top: -2px;
}

.intro__ornament {
  height: 766px;
}

.intro__content {
  position: relative;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 80px 0 180px;
  max-width: 1440px;
  width: 100%;
}

.intro__list {
  list-style-type:circle;
}

.intro__colors {
  margin: 0 auto 40px;
  width: fit-content;
  display: flex;
  align-items: center;
  background-color: #fff;
}

.intro__color {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin: 10px 20px;
}

.family__color-1 {
  background-color: #cfb18f;
}

.family__color-2 {
  background-color: #ada5a3;
}

.family__color-3 {
  background-color: #fff1d5;
}

.family__color-4 {
  background-color: #eaeeef;
}

.firstyear__color-1 {
  background-color: #f2f2ea;
}

.firstyear__color-2 {
  background-color: #bfbfc9;
}

.firstyear__color-3 {
  background-color: #d7c9bc;
}

.firstyear__color-4 {
  background-color: #dccfbf;
}

.birthday__color-1 {
  background-color: #957f67;
}

.birthday__color-2 {
  background-color: #e8cfb0;
}

.birthday__color-3 {
  background-color: #d2d4d1;
}

.birthday__color-4 {
  background-color: #c4a169;
}

.lovestory__color-1 {
  background-color: #a2a173;
}

.lovestory__color-2 {
  background-color: #dccfbe;
}

.lovestory__color-3 {
  background-color: #e5e5e3;
}

.lovestory__color-4 {
  background-color: #f1f0ec;
}

.intro__info {
  width: 100%;
}

.intro__btn {
  margin-top: 30px;
}

.price {
  
}

@media all and (max-width: 1024px) {
  .intro__content {
    padding: 100px 40px 100px 140px;
  }

  .slider {
    height: 863px;
  }

  .slider__content {
    padding: 120px 80px 0 180px;
  }

  .slider__ornament {
    height: 863px;
  }
}

@media all and (max-width: 910px) {
  .intro {
    height: 653px;
  }

  .intro__ornament {
    height: 653px;
  }

  .intro__content {
    padding: 0 40px 70px 140px;
  }

  .intro__img {
    height: 450px;
    width: 45%;
  }
}

@media all and (max-width: 830px) {
  .intro__title {
    font-size: 40px;
    line-height: 45px;
  }
}

@media all and (max-width: 768px) {
  .intro__ornament {
    width: 100px;
  }

  .intro__content {
    padding: 0 20px 0 120px;
  }

  .slider {
    height: 727px;
  }

  .slider__ornament {
    width: 100px;
    height: 727px;
  }
  
  .slider__content {
    padding: 60px 20px 0 120px;
  }
}

@media all and (max-width: 726px) {

  .slider {
    height: 652px;
  }

  .slider__ornament {
    height: 652px;
  }

  .intro__info {
    width: 100%;
  }

  .slider__title {
    font-size: 40px;
    line-height: 45px;
  }

  .intro__btn {
    margin-top: 0;
  }
}

@media all and (max-width: 590px) {
  .slider__content {
      padding: 130px 20px 0 120px;
    }

  .intro__color {
    width: 40px;
    height: 40px;
    margin: 0 10px;
  }
}

@media (max-width: 490px) {
  .slider {
    height: 654px;
  }

  .slider__ornament {
  width: 100px;
  height: 654px;
  }
}

@media all and (max-width: 425px) {
  .intro {
    height: 491px;
  }

  .intro__content {
    padding: 20px 10px 0 90px;
  }

  .intro__ornament {
    width: 75px;
    height: 491px;
  }

  .slider {
    height: 491px;
  }
  
  .slider__content {
    padding: 80px 10px 0 90px;
  }
  
  .slider__ornament {
    width: 75px;
    height: 491px;
  }

  .slider__title {
    font-size: 25px;
    line-height: 30px;
  }
}

@media (max-width: 381px) {
  .slider {
    height: 383px;
  }
  .slider__ornament {
  height: 383px;
  }

  .intro {
    height: 547px;
  }
  
  .intro__ornament {
    height: 547px;
  }

  .intro__color {
    margin: 0 5px;
    width: 30px;
    height: 30px;
  }
}

.carousel {
  margin-top: 70px;
}

.carousel-inner {
  width: 90%;
  left: 50%;
  transform: translateX(-50%);
}

.carousel-control-next-icon {
    background-color: #fff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='%23404648'%3E%3Cpath d='M7.293 4.707 14.586 12l-7.293 7.293 1.414 1.414L17.414 12 8.707 3.293 7.293 4.707z'/%3E%3C/svg%3E");
}

.carousel-control-prev-icon {
    background-color: #fff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='%23404648'%3E%3Cpath d='M7.293 4.707 14.586 12l-7.293 7.293 1.414 1.414L17.414 12 8.707 3.293 7.293 4.707z'/%3E%3C/svg%3E");
  transform: rotate(180deg);
}


@media all and (max-width: 1200px) {
  .carousel-inner {
    width: 100%;
  }
}

@media all and (max-width: 455px) {

  .carousel-indicators {
    margin-bottom: 0;
  }
}

@media all and (max-width: 380px) {  
  .carousel {
    margin-top: 30px;
  }
}



.footer {
  box-sizing: border-box;
  width: 100%;
  height: 100px;
  background-color: #D8A795;
}

.footer__content {
  position: relative;
  box-sizing: border-box;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 0 80px 0 180px;
  height: 100%;
  max-width: 1440px;
  width: 100%;
}

.footer__ornament {
  height: 100px;
}

.footer__block {
  max-width: 1440px;
  width: 100%;
  display: flex;
  flex: 1 1 auto;
  align-items: center;
}

.footer__logo {
  flex-grow: 2;
}

.footer__logo img {
  width: 180px;
  height: 90px;
}

.footer__social-icon svg {
  width: 60px;
}

.footer__social-icon a {
  display: inline-block;
  width: 60px;
  height: 60px;
}

.footer__social-icon:last-of-type {
  margin-left: 30px;
}

.footer__social-icon svg {
  fill: #404648;
  transition: all linear .3s;
}

.footer__social-icon svg:hover {
  fill: #EEF1EF;
}

@media all and (max-width: 1024px) {
  .footer__content {
    padding: 0 40px 0 140px;
  }
}

@media all and (max-width: 768px) {
  .footer {
    height: 77px;
  }

  .footer__ornament {
    width: 100px;
    height: 77px;
  }

  .footer__content {
    padding: 0 20px 0 120px;
  }

  .footer__logo img {
    width: 130px;
    height: 67px;
  }

  .footer__social-icon svg {
    width: 40px;
  }

  .footer__social-icon a {
    width: 40px;
    height: 40px;
  }

  .footer__social-icon:last-of-type {
    margin-left: 20px;
  }
}

@media all and (max-width: 425px) {
  .footer {
    height: 57px;
  }

  .footer__content {
    padding: 0 10px 0 90px;
  }

  .footer__ornament {
    width: 75px;
    height: 57px;
  }

  .footer__logo img {
    width: 95px;
    height: 47px;
  }

  .footer__social-icon:last-of-type {
    margin-left: 10px;
  }
}